<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <add key="ASUNTO_CORREO" value="Notificacion de Incidentes"/>
    <add key="MAILS_DESTINO" value="migana14@gmail.com"/>
    <add key="DIRECCION_CORREO_FROM" value="migana14@gmail.com"/>
    <add key="ALIAS_CORREO_FROM" value="From Name"/>
    <!--
    <add key="DIRECCION_CORREO_FROM" value="developer@altotrack.com"/>
    <add key="ALIAS_CORREO_FROM" value="Altotrack"/>
    -->
    <add key="HOST_MAILS" value="smtp.gmail.com"/>
    <add key="HABILITAR_SSL" value="true"/>
    <add key="USUARIO_CUENTA" value="migana14@gmail.com"/>
    <add key="PASSWORD_CUENTA" value="001anahi"/>
    <add key="NUMERO_PUERTO" value="587"/>
  </appSettings>
</configuration>